@font-face {
    font-family:'acmesa';
    src:url('../fonts/acmesa.TTF');
}

/*De olika kolumnerna*/
body {
    background-color:#FFF;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position:relative;
}

header {
    height:150px;
    background-image:url("../pictures/logos/header.jpg");
    background-position:-300px;
    overflow:hidden;
    margin-bottom:5px;
}
header h1 {
            Text-align:center;
            font-family:Verdana;
            font-weight:500;
}
main{
    float:left;
    width:100%;
    text-align:center;
}
footer {
    margin-top:40px;
    clear:both;
    text-align:center;
}

a {
    text-decoration:none;
}
.submitbutton {
    background-color: #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: poiner;
     border:none;
}

.submitbutton:hover{
    border: none;
    background:green;
    box-shadow: 0px 0px 1px #777;
}



/*Typsnitt och teckenstorlekar*/
h1 {
    font-family:Verdana;
    font-weight: 550;
    Color: black;
    font-size: 40px;
    padding-top:10px;
    padding-bottom:10px;
}

h2 {
    font-family:Verdana;
    font-weight: 600;
    Color: black;
    font-size: 28px;
    padding-top:10px;
    padding-bottom:10px;
}

h3 {
    font-family:Verdana;
    font-weight: 650;
    Color: black;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

h4 {
    font-family:Verdana;
    font-weight: 700;
    Color: black;
    font-size: 15px;
    padding-top:10px;
    padding-bottom:10px;
}

h5 {
    font-family:Verdana;
    font-weight: 750;
    Color: black;
    font-size: 10px;
    text-align:right;
}

p {
    padding-top:10px;
    font-family:"Perpetua";
    Color: #413839;
    font-size: 17px;
    
}

legend {
    font-family:Verdana;
    font-weight: 600;
    Color: black;
    font-size: 28px;
    padding-top:10px;
    padding-bottom:10px;
}

.linkbox {
    display:block;
}

.startlinks {
    text-align: center;
    width:100%;
    display:inline-block;
}

.startlinks a {
    display:inline-block;
    max-width:45%;
    font-family:acmesa;
    text-decoration:none;
    }
    
.startlinks a:nth-child(2):after {
    content:"\a";
    white-space:pre;
}

.startlinks a img {
    display:block;
    max-width:100%;
}

/* Navigationen */
nav ul {  
    text-align:center;
    position:relative;
    width:100%;
    background-color:#ABB8C7;
}
 
nav ul li {display:inline;
}

nav ul li a {    
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
    width:60px;
    text-decoration:none;
    padding:7px 5px;
    border-radius:3px;
    color:#021b2b;
    background-image:url("pictures/Ice.png");
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }


nav ul li a:hover {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.7);
    box-shadow: 0 2px 4px rgba(0,0,0,.7);
}

nav ul li a.active {} 

#blogbutton {
    background-position:0 0;
    background-repeat:no-repeat;}

#blogbutton:hover {
    background-position:0 -41px;
    background-repeat:no-repeat;}

#gallerybutton {
    background-position:0 -82px;
    background-repeat:no-repeat;}

#gallerybutton:hover {
    background-position:0 -123px;
    background-repeat:no-repeat;}

#aboutbutton {
    background-position:0 -164px;
    background-repeat:no-repeat;}

#aboutbutton:hover {
    background-position:0 -205px;
    background-repeat:no-repeat;}

#linksbutton {
    background-position:0 -246px;
    background-repeat:no-repeat;}

#linksbutton:hover {
    background-position:0 -287px;
    background-repeat:no-repeat;}

/* Bilder på galleri*/

.gallerybox {display:block;
            margin-left:auto;
            margin-right:auto;
            position:relative;
            width:90%;
            margin-top:5px;
            }
            
#imagecontainer {
    display:none;
}
            
/*Länkbilder på länksidan*/


.links {
    display:inline-block;
    vertical-align:text-top;
}

.linkpictures a
{
    
    width:230px;
	background: white;
	display: block;
	margin: 10px 10px 30px;
	padding: 10px 10px 70px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:30px;
}


.linkpictures a:after {
	color: #333;
	font-size: 18px;
	content: attr(title);
	position: relative;
	top:15px;
}

.linkpictures { 
	display: block; 
	width: inherit;
	
}


.linkpictures a:hover,.linkpictures a:focus{
    
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 14px 25px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 14px 25px rgba(0,0,0,.7);
        box-shadow: 0 14px 25px rgba(0,0,0,.7);
        outline:none;
        
}
/* Bloggsidan */
.Blogpost{
    background-color:#CCDCE3;
    padding:10px 20px 10px 20px;
    margin-top:20px;
    
}
.Commentsection {
    
    margin-top:10px;
    margin-bottom:10px;
    text-align:left;
    background-color:#ACC9F5;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:5px;
}

.Comment {
    border-top: solid gray 1px;
    margin:10px;
    padding-top:5px;
    padding-bottom:7px;
}

.MoreComments {
    text-align:center;
    
}
.Blogpicture {
    width:100%;
    
}

.Aboutimage{
    width:30%;
    
}

.Aboutimagesmall{
    width:30%;
    
}
.About p {
    margin:10px;
}

.Profileimage{
    width:40%;
    
}

.About {
    margin-top:20px;
    background-color:#CCE3DC;
    -moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.7);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.7);
    box-shadow:         inset 0 0 5px rgba(0,0,0,.7);
}


/* fomulär */
form {
    padding:10px; 
    font-size:1.3em; 
    font-family:Verdana; 
    color:black; 
     
    width:90%;
 
    display: inline-block;
    text-align: center;
}

.Contact {clear:both;
    border:solid 1px #ccc;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    background-color:#CCDCE3;
    width:100%;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px;
}
.Contact p {margin:10px;}

#subject {
    box-sizing:content-box;
    width:82%;
}

#Rubrik {box-sizing:content-box;
        width:82%;
}

#meddelande {box-sizing:content-box;
        width:82%;
}

#Namn {box-sizing:content-box;
        width:82%;
}

#E-post {box-sizing:content-box;
        width:82%;
}

#Telefon{box-sizing:content-box;
        width:82%;
}


label {font-size:18px;}



/* Mickes bilder: http://www.flickr.com/photos/97060316@N07/with/9556136708/ */

/* F2EDC8 C3DEC9 ABB8C7 */
/* D39FDE D4BFB5 */
/* ACC9F5 CCDCE3 F7FAFA CCE3DC E3FDED */